<div class="col-xs-3">
	<h2>User info</h2>
	<br><%= attachment_image_tag side_user, :profile_image, :fill, 100, 100, fallback: 'no-image-icon.jpg' %>

	<table class="table">
		<tbody>
			<tr>
				<td>name</td>
				<td><%= side_user.name %></td>
			</tr>
			<tr>
				<td>introduction</td>
				<td><%= side_user.introduction %></td>
			</tr>
		</tbody>
	</table>
<% if current_user.id == side_user.id %>
	<%= link_to(edit_user_path(current_user.id), class:  "btn btn-default") do %>
		<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
	<% end %><% end %><br>
	<h3>New book</h3>
	<%= form_for(book) do |f| %>
		<%= render 'layouts/error_messages', model: f.object %>

		<h4>Title</h4>
		<%= f.text_field :title %>

		<h4>Opinion</h4>
		<%= f.text_area :body %>

		<br><%= f.submit 'Create Book' , class: "btn btn-primary" %></br>

	<% end %>
</div>