<div class="container">

<h1>Editing Book</h1>

<%= form_for(@book) do |f|%>
<%= render 'layouts/error_messages', model: f.object %>
<p>Titie</p>
<%= f.text_field :title %>

<p>Opinion</p>
<%= f.text_area :body %><br>
<%= f.submit "Update Book", class: "btn btn-primary" %>
<%= link_to "Show", book_path(@book) %>|<%= link_to "Back", books_path %>
<% end %>

</div>

